@page "/Login"

<h3>Login</h3>
<div>
    <div>
    <label>Username</label>
    <input placeholder="Add username"/>
    </div>
    <div>
        <label>Username</label>
        <input placeholder="Add password" />
    </div>
    <div>
        <div>
            <label>Login via google</label>
        </div>
    </div>
    
</div>

@code {

}
